@import "_config";

#sidebar #history {
    background: #3e485D;
    border-left: 3px solid #fd7f72;
    color: $offwhite-color;

    i {
        color: $offwhite-color;
    }
}

table {
    background: $offwhite-color;
    color: $primary-color;

    td, th {
        padding-left: 1rem;
    }
}