@import "_config";

#sidebar #orders {
    background: #3e485D;
    border-left: 3px solid #fd7f72;
    color: $offwhite-color;

    i {
        color: $offwhite-color;
    }
}

.card {
    width: 70%;
    margin: 0 auto;
}

.order-input-container {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: center;

    button {
        background: $accent-color;
        color: $offwhite-color;
    }

    button:hover {
        background: $secondary-color;
    }

    #order-input {
        width: 65%;
    }

    input[type='text']:not(.browser-default):focus:not([readonly])+label {
        color: $accent-color;
    }

    .input-field input[type=text]:focus {
        border-bottom: 1px solid $accent-color;
        box-shadow: 0 1px 0 0 $accent-color;
    }

    //  Styling autocomplete results
    .dropdown-content li>span {
        color: $accent-color;
    }
}

#toast-container {
    width: 14%;
    top:2rem;
    left: 53%;
    
    .toast {
        background: $accent-color;
        color: $offwhite-color;
    }
}